<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia - Music</title>
    <script src="https://kit.fontawesome.com/b760fc418d.js" crossorigin="anonymous"></script></head>
<body>
    <header>
        <nav>
            <ul>
            <li><a href="/">home</a></li>           <!--esta es la navegacion propia del sitio-->
            <li><a href="/about">about</a></li>
            <li><a href="/music">music</a></li>
            <li><a href="/contact">contact</a></li>
            </ul>
        </nav>
        <nav>
           <a href=""><i class="fab fa-twitter"></i></a>           <!--este nav es de redes-->
           <a href=""><i class="fab fa-facebook-square"></i></a>
           <a href=""><i class="fab fa-instagram"></i></a>
           <a href=""><i class="fab fa-apple"></i></a>
           <a href=""><i class="fab fa-amazon"></i></a>
        </nav>
    </header>
    <main>
        <h1>music //</h1>
        <h4>Direct Links</h4>
        <ul>
           <li><a href="#album">Album </a></li>
           <li><a href="#organic">Video: Organic Love</a></li>
           <li><a href="#street">Video: Street Ligth</a></li>
        </ul>
        <section>      <!--seccion del album-->
            <h2 id="album">ALBUM<br>TWIST IN MY REALITY</h2>      
            <img src="/images/emilia-play-list.png" alt="" width="640"/>
            <ol>
                <li><i class="fas fa-play"></i></i>Organic Love | 02:40</li>
                <li><i class="fas fa-play"></i></i>Twist in my Reality | 02:10</li>
                <li><i class="fas fa-play"></i></i>Street Ligth | 03:118</li>
                <li><i class="fas fa-play"></i></i>Love Don't Live Here Anymore (cover) | 03:49</li>
            </ol>
            <a href="#">Go Top</a>
        </section>
        <!--Seccion de Video-->
        <section>
            <article>
                <h2 id="organic">Organic Love</h2>
                <iframe src="https://player.vimeo.com/video/135166028" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                <p>Directed by VINCE MALC & EMILIA COLE</p>
                <p>Edited and Filmed by NICOLAS TROY</p>
                <p>Produced by NIKI HEART</p>
                <p>Wix Films   LTD.</p>
                <a href="#">Go Top</a>
            </article>
            <article>
                <h2 id="street">Street Ligth</h2>
                <iframe src="https://player.vimeo.com/video/134861419" width="640" height="360" frameborder="0"
                allow="autoplay; fullscreen" allowfullscreen></iframe>
                <p>Directed by VINCE MALC & EMILIA COLE</p>
                <p>Edited and Filmed by NICOLAS TROY</p>
                <p>Produced by NIKI HEART</p>
                <p>Wix Films   LTD.</p>
                <a href="#">Go Top</a>
            </article>
        </section>
    </main>
</body>
</html>